# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
.venv/
venv/

# Environment
.env
*.env

# Docker
Dockerfile
docker-compose.yml

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Caches / logs
*.log
*.out
*.pid
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
